@import "https://fonts.googleapis.com/css2?family=Outfit:wght@500;600;700;800;900 &family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap";

@import "https://cdnjs.cloudflare.com/ajax/libs/normalize / 8.0.1/normalize.min.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif
}

html {
    scroll-behavior: smooth
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    font-family: Outfit, sans-serif;
    font-weight: 800
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.header-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    background-image: url('../img/bhte_fundo.jpg');
    background-size: cover;
    background-position: center;
    padding: 1%
}

.hero-title h1 {
    font-weight: 800;
    color: #FFF;
    text-shadow: #6535e9 5px 5px 0;
    font-size: 5rem
}

.hero-button a {
    padding: 20px;
    background-color: #FFF;
    color: #6535e9;
    border-radius: 20px;
    box-shadow: #6535e9 5px 5px 0;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    transition-property: background-color, color, box-shadow
}

.hero-button a:hover {
    transition-duration: 1s;
    transform: ease;
    background-color: #6535e9;
    color: #FFF;
    box-shadow: #333 5px 5px 0
}

.navegacao {
    width: 100%;
    height: 70px;
    padding: 10px 20px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
    box-shadow: rgba(204, 204, 204, 0.308) 0 10px 5px
}

.navegacao-logo {
    width: 160px;
    height: 50px
}

.navegacao-logo img {
    width: 100%;
    height: 100%
}

.navegacao-menu ul {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    gap: 15px;
    font-size: 1.1rem
}

.navegacao-menu a {
    color: #333;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #FFF;
    text-decoration: none;
    transition-property: color, background-color;
    transition-duration: 1s;
    transform: ease
}

.navegacao-menu a:hover {
    color: #fff;
    background-color: #6535e9
}

.navegacao-social {
    display: flex;
    gap: 10px;
    align-items: center
}

.navegacao-social img {
    width: 30px
}

.conteudo {
    width: 100%
}

.conteudo-sobre {
    width: 100%;
    height: 100vh;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    background-image: url('../img/grey-bg.jpg');
    background-position: center;
    background-size: cover
}

.sobre-resumo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    padding: 3%;
    background-color: #FFF;
    border: 1px solid #6535e9;
    box-shadow: #6535e9 10px 10px 0;
    text-align: justify;
    line-height: 1.6
}

.sobre-resumo h1 {
    margin-top: 0;
    flex-grow: 1
}

.sobre-video iframe {
    width: 768px;
    height: 432px;
    border: 0;
    box-shadow: #6535e9 10px 10px 0
}

.conteudo-curiosidades {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    background-color: #6535e9
}

.conteudo-curiosidades-title h1 {
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: 800;
    color: #FFF;
    font-size: 3.5rem
}

.conteudo-curiosidades-content {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 80px
}

.cardCuriosidade {
    width: 300px;
    height: 490px;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: rgba(51, 51, 51, 0.31) 10px 10px 5px
}

.cardCuriosidade img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.cardCuriosidade-text {
    padding: 0 20px;
    text-align: justify;
    line-height: 1.5
}

.cardCuriosidade-text h2 {
    text-align: center;
    margin-bottom: 10px
}

.footer {
    color: #333;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center
}

.heart {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

@media(max-width:360px) {
    .hero-title h1 {
        text-align: center;
        font-size: 2.2rem
    }

    .hero-button a {
        padding: 15px;
        border-radius: 15px;
        font-size: 1rem
    }

    .navegacao-logo {
        width: 106px;
        height: 33px
    }

    .conteudo-sobre {
        height: 100%;
        padding-bottom: 20px
    }

    .sobre-resumo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 320px;
        height: 480px;
        padding: 2%;
        background-color: #FFF;
        border: 1px solid #6535e9;
        box-shadow: #6535e9 10px 10px 0;
        text-align: justify;
        line-height: 1.6
    }

    .sobre-resumo h1 {
        margin-top: 0;
        margin-bottom: 20px
    }

    .sobre-video iframe {
        width: 320px;
        height: 180px;
        border: 0;
        box-shadow: #6535e9 10px 10px 0
    }

    .conteudo-curiosidades {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 20px;
        background-color: #6535e9
    }

    .conteudo-curiosidades-title h1 {
        margin-top: 30px;
        font-size: 2rem
    }

    .conteudo-curiosidades-content {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 30px
    }

    .cardCuriosidade {
        height: 100%;
        padding-bottom: 5%
    }

    .cardCuriosidade-text {
        font-size: 12px
    }

    .navegacao-menu,
    .navegacao-social {
        display: none
    }
}

@media(max-width:480px) {
    .hero-title h1 {
        text-align: center;
        font-size: 2.2rem
    }

    .hero-button a {
        padding: 15px;
        border-radius: 15px;
        font-size: 1rem
    }

    .navegacao-logo {
        width: 106px;
        height: 33px
    }

    .navegacao-menu {
        display: none
    }

    .conteudo-sobre {
        height: 100%;
        padding-bottom: 20px;
        gap: 30px
    }

    .sobre-resumo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 380px;
        height: 480px;
        padding: 5%;
        background-color: #FFF;
        border: 1px solid #6535e9;
        box-shadow: #6535e9 10px 10px 0;
        text-align: justify;
        line-height: 1.6
    }

    .sobre-resumo h1 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px
    }

    .sobre-video iframe {
        width: 380px;
        height: 200px;
        border: 0;
        box-shadow: #6535e9 10px 10px 0
    }

    .conteudo-curiosidades {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 30px;
        background-color: #6535e9
    }

    .conteudo-curiosidades-title h1 {
        margin-top: 30px;
        font-size: 2.5rem
    }

    .conteudo-curiosidades-content {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 30px
    }

    .cardCuriosidade {
        width: 380px;
        height: 100%;
        padding-bottom: 3%
    }

    .cardCuriosidade img {
        width: 100%;
        height: 100%
    }

    .cardCuriosidade-text {
        font-size: 14px
    }
}

@media(max-width:560px) {
    .navegacao-menu {
        display: none
    }
}

@media(max-width:768px) {
    .hero-title h1 {
        text-align: center
    }

    .hero-button a {
        padding: 15px;
        border-radius: 15px;
        font-size: 2rem
    }

    .conteudo-sobre {
        height: 100%;
        padding-bottom: 60px;
        padding-top: 60px;
        gap: 60px
    }

    .sobre-resumo {
        width: 640px;
        height: 100%;
        padding: 5%;
        font-size: 1.2rem
    }

    .sobre-resumo h1 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px
    }

    .sobre-video iframe {
        width: 640px;
        height: 360px;
        border: 0;
        box-shadow: #6535e9 10px 10px 0
    }

    .conteudo-curiosidades {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 30px;
        background-color: #6535e9
    }

    .conteudo-curiosidades-title h1 {
        text-align: center;
        margin-top: 30px;
        font-size: 2.5rem
    }

    .conteudo-curiosidades-content {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 30px
    }

    .cardCuriosidade {
        width: 300px;
        height: 480px;
        padding-bottom: 3%
    }

    .cardCuriosidade img {
        width: 100%;
        height: 100%
    }

    .cardCuriosidade-text {
        font-size: 16px
    }
}

@media(max-width:1280px) {
    .hero-title h1 {
        font-size: 3rem;
        text-align: center
    }

    .hero-button a {
        padding: 15px;
        border-radius: 15px;
        font-size: 1.5rem
    }

    .conteudo-sobre {
        height: 100%;
        padding-bottom: 60px;
        padding-top: 60px
    }

    .sobre-resumo {
        width: 480px;
        height: 100%;
        padding: 2%;
        font-size: 1rem
    }

    .sobre-resumo h1 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px
    }

    .sobre-video iframe {
        width: 640px;
        height: 360px;
        border: 0;
        box-shadow: #6535e9 10px 10px 0
    }

    .conteudo-curiosidades {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 30px;
        background-color: #6535e9;
        padding-bottom: 60px
    }

    .conteudo-curiosidades-title h1 {
        text-align: center;
        margin-top: 30px;
        font-size: 3rem
    }

    .conteudo-curiosidades-content {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 30px
    }

    .cardCuriosidade {
        width: 300px;
        height: 490px
    }

    .cardCuriosidade img {
        width: 100%;
        height: 100%
    }

    .cardCuriosidade-text {
        font-size: 16px
    }

    .cardCuriosidade-text h2 {
        text-align: center;
        margin-bottom: 10px
    }
}
