h1 {
    text-align: center;
}

.box {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    padding: 40px;
    border: black 5px solid;
    background-color: coral;
    font-size: 70px;
    text-align: center;
}

#mae {
    border: 10px coral solid;
    padding: 30px;
}

.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
}